node_modules
npm-debug.log
.env
.env.local
.dev.env
.env.production
.env.test
.env.example
.git
.gitignore
README.md
.DS_Store
coverage
.vscode
.log
docker
.dockerignore
dist
build
npm-debug.log*
trekking_full_schema.sql
.idea