.nav{
    background-color: green;
    display: flex;
    position: sticky;
    overflow: hidden;
  }
  .nav img{
    height: 60px;
    animation: logo 2s infinite;
    border: 1px solid red ;
    border-radius: 100%;
  }
  
  @keyframes logo{
    from{
      transform: rotateY(0deg);
    
    }
    to{
       transform: rotateY(360deg);
       cursor: pointer;
    }
  }
  .home{
    padding-top: 10px;
    display: flex;
    padding-left: 400px;
  }
  .dropbtn {
    padding: 1px 10px;
    color: rgb(20, 19, 19);
    border-radius: 20px;
    font-size: 16px;
  }
  .dropdownContent {
    position: absolute;
    min-width: 160px;
  }
  .dropdownContent li a {
    color: rgb(10, 10, 10);
    padding: 10px 15px;
    display: block;
  }
  